# Importing Data

In [25]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns


# Loading data
df = pd.read_csv('Passanger_booking_data.csv')
df.head(5)

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
0,1,Internet,RoundTrip,21,12,6,Tue,AKLHGH,Australia,0,0,0,7.21,1
1,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,1,0,0,5.52,0
2,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,0,0,0,5.52,0
3,2,Internet,RoundTrip,243,22,17,Wed,AKLDEL,India,1,1,0,5.52,0
4,1,Internet,RoundTrip,96,31,4,Sat,AKLDEL,New Zealand,0,0,1,5.52,0

# Cleaning Data

In [12]:

print(df.shape)

(50002, 14)
['Internet' 'Mobile']
['RoundTrip' 'CircleTrip' 'OneWay']

In [22]:
# Removing null and duplicate data
print(f'{df.isna().sum().sum()} values are N/A')
print(f'{df.duplicated().sum().sum()} values are duplicated')

0 values are N/A
719 values are duplicated

In [24]:
df.drop_duplicates(inplace=True)
df.shape

(49283, 14)

In [34]:
print("Sales Channel")
print(df['sales_channel'].unique())
print("Trip Type")
print(df['trip_type'].unique())

Sales Channel
['Internet' 'Mobile']
Trip Type
['RoundTrip' 'CircleTrip' 'OneWay']

In [44]:
# Adding new for booking destination (country), origin (airport), and destination (airport).
df['origin'] = df['route'].str[0:3]
df['destination'] = df['route'].str[3:6]

df.head(5)

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete,origin,destination
0,1,Internet,RoundTrip,21,12,6,Tue,AKLHGH,Australia,0,0,0,7.21,1,AKL,HGH
1,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,1,0,0,5.52,0,AKL,DEL
2,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,0,0,0,5.52,0,AKL,DEL
3,2,Internet,RoundTrip,243,22,17,Wed,AKLDEL,India,1,1,0,5.52,0,AKL,DEL
4,1,Internet,RoundTrip,96,31,4,Sat,AKLDEL,New Zealand,0,0,1,5.52,0,AKL,DEL

In [106]:
# Adding destination country with airports dataset from OpenFlights
airports = pd.read_csv('https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat', header=None)
#airports.head(5)

#df = pd.merge(df,airports.iloc[:, 3],left_on='destination', right_on=airports.iloc[:, 4], how='left')
#df = df.insert(9, df.iloc[:, 16], df.pop(df.iloc[:, 16]))

#column_to_insert = df.pop(df.columns[16])
#df.insert(9, "booking_destination", column_to_insert)

df.head(5)
#df.to_csv('updated_passengers.csv', index=False)

#df.columns.get_loc('destination')

In [107]:
df = pd.read_csv("updated_passengers.csv")
df.head(5)

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,booking_destination,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete,origin,destination
0,1,Internet,RoundTrip,21,12,6,Tue,AKLHGH,Australia,China,0,0,0,7.21,1,AKL,HGH
1,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,India,1,0,0,5.52,0,AKL,DEL
2,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,India,0,0,0,5.52,0,AKL,DEL
3,2,Internet,RoundTrip,243,22,17,Wed,AKLDEL,India,India,1,1,0,5.52,0,AKL,DEL
4,1,Internet,RoundTrip,96,31,4,Sat,AKLDEL,New Zealand,India,0,0,1,5.52,0,AKL,DEL